# Project exclude paths
/hibernate/target/
/javaexercise1/target/
/javaweb002/target/
/mybatis01/target/
/mybatis03/target/
/mybatis003/target/
/mybatis04/target/
/mybatis05/target/
/mybatis0927/target/
/out/
/s85javaweb/target/
/spring001/target/
/spring05/target/
/spring06/target/
/spring07/target/
/springmybatis001/target/
/web001/target/
/web002/target/
/web003/target/
/web004/target/
/web005/target/
/web0012/target/
/web013/target/
/web014/target/
/web24/target/
/web0818/target/
/webproject/target/