<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis0927:war exploded">
    <output-path>$PROJECT_DIR$/mybatis0927/target/mybatis0927</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>mybatis0927</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis0927" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.16" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.18" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.6.1" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.3" />
          <element id="library" level="project" name="Maven: com.github.pagehelper:pagehelper:3.4.2" />
          <element id="library" level="project" name="Maven: com.github.jsqlparser:jsqlparser:0.9.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatis0927/target/mybatis0927/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis0927/web/Web" />
    </root>
  </artifact>
</component>